@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin centerPosition {
  margin: 0 auto;
}
